body {
    margin: 0;
    padding: 0;
}

.img {
    width: 180px;
    height: 200px;
    border: 1.5px solid #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.stack {
    display: flex;
    flex-direction: column;
}

.stack img:first-child,
.stack img:last-child {
    flex: 1 0 auto;
    justify-content: flex-end;
    align-self: flex-end;
}

.stack img:nth-child(2) {
    flex: 0 0 auto;
    justify-content: flex-start;
}

.pg-button {
    background-color: #070736;
    color: #fff;
    width: 40px;
    height: 30px;
}